body{
    background-color: aqua;
    font-family: 'Trebuchet MS';
    margin: 0;
    padding: 0;
}
#container{
    width: 80%;
    margin: 10px auto;
    border: 3px solid #8b22a8;
    background-color: #fcfcfc;
    padding: 100px;
    box-shadow: 0 0 10px #cd481b;
}
#header{
text-align: center;
border-bottom: 2px solid #77c9d4;
padding-bottom: 10px;
margin-bottom: 20px;
}
#main{
display: flex; 
}
#sidebar{
width: 25%;
background-color: #77c9d4;
padding: 15px;
border-radius: 8px;
font-weight: bold;
}
#content{
   width: 70%;
   margin-left: ;
}
